<div class="full-container margin-sm">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center center">
      <app-linkcard image="/assets/menus/create_task_menu.jpeg" text="Create Task" linkTo="/createtask"></app-linkcard>

      <app-linkcard image="/assets/menus/create_job_menu.jpg" text="Create Job" linkTo="/createjob"></app-linkcard>

      <app-linkcard image="/assets/menus/executions_menu.jpeg" text="Executions" linkTo="/executions"></app-linkcard>
  </div>
</div>
